@{
    ViewData["Title"] = "Home Page";
}

<!--Main index : Begin-->
<main class="main index">
    <!--Home slider : Begin-->
    <section class="home-slidershow">
        <div class="slide-show">
            <div class="vt-slideshow">
                <ul>
                    <li class="slide1" data-transition="random">
                        <img src="images/slider/home/bg_slider_1.jpg" alt="" />
                        <div class="tp-caption lfr" data-x="right" data-hoffset="-56" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Quảng cáo Vĩnh An</span></span></div>
                        <div class="tp-caption lfb" data-x="right" data-hoffset="-15" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Công Ty TNHH Quảng Cáo Vĩnh An chuyên thiết kế / thi công các lĩnh vực:<br>
                                Thi công bảng hiệu quảng cáo<br>
                                Ốp Aluminium<br>
                                Thi công quảng cáo ngoài trời<br>
                                Trang trí nội thất <br>
                                Thi công gian hàng hội chợ <br>
                                <br>
                                <br>
                                <br>
                            </span>
                        </div>
                        <div class="tp-caption lfr" data-x="right" data-hoffset="-315" data-y="375" data-start="1300" data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn" href="#">Liên hệ</a></div>
                    </li>
                    <li class="slide2" data-transition="random">
                        <img src="images/slider/home/bg_slider_2.jpg" alt="" />
                        <div class="tp-caption lfr" data-x="left" data-hoffset="" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Cung Cấp Vật Tư</span> & Ngành Quảng Cáo</span></div>
                        <div class="tp-caption lfb" data-x="left" data-hoffset="" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Công Ty TNHH Quảng Cáo Vĩnh An chuyên thiết kế / thi công các lĩnh vực:<br>
                                Thi công bảng hiệu quảng cáo<br>
                                Ốp Aluminium<br>
                                Thi công quảng cáo ngoài trời<br>
                                Trang trí nội thất <br>
                                Thi công gian hàng hội chợ <br>
                                <br>
                                <br>
                                <br>
                            </span>
                        </div>
                        <div class="tp-caption lfr" data-x="left" data-y="367" data-start="1300" data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn" href="#">Liên hệ</a></div>
                    </li>
                    <li class="slide3" data-transition="random">
                        <img src="images/slider/home/bg_slider_3.jpg" alt="" />
                        <div class="tp-caption lft" data-x="left" data-hoffset="" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Uy tín</span> & Chất lượng</span></div>
                        <div class="tp-caption lfb" data-x="left" data-hoffset="" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Công Ty TNHH Quảng Cáo Vĩnh An chuyên thiết kế / thi công các lĩnh vực:<br>
                                Thi công bảng hiệu quảng cáo<br>
                                Ốp Aluminium<br>
                                Thi công quảng cáo ngoài trời<br>
                                Trang trí nội thất <br>
                                Thi công gian hàng hội chợ <br>
                                <br>
                                <br>
                                <br>
                            </span>
                        </div>
                        <div class="tp-caption lfl" data-x="left" data-hoffset="" data-y="365" data-start="1300" data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn" href="#">Liên hệ</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--Home Category : Begin-->
    <section id="aboutus" class="pr-main">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="images/abouts/about01.jpg">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="top">
                    <h2><span>Chào mừng đến với công ty chúng tôi</span></h2>
                    <p>
                        Công Ty Quảng Cáo Vĩnh An là lựa chọn tốt nhất, tin tưởng nhất cho các công trình hạng mục quảng cáo như Hộp đèn, Bảng hiệu, Pano, Chữ nổi, in ấn và gia công, . . .
                        Chúng tôi là nhà cung cấp chuyên nghiệp cho quý khách hàng các sản phẩm và dịch vụ mang tính thẩm mỹ cao trên các phương tiện thông tin và truyền thông
                    </p>
                </div>
                <div class="bottom">
                    <h2><span>Lĩnh vực kinh doanh</span></h2>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>Thi công bảng hiệu quảng cáo</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span>Thi công quảng cáo ngoài trời</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span>Trang trí nội thất, thi công gian hàng hội chợ triển lãm</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                        <span>Cung cấp vật tư ngành quảng cáo</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Home Trust : Begin-->
    <section class="product-step-order hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pso-header">
                    <h3>TẠI SAO LỰA CHỌN CHÚNG TÔI?</h3>
                    <p>Uy tín và tận tâm với khách hàng</p>
                </div>
            </div>
            <div class="pso-content">
                <div class="pso-content-top row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4">
                        <span class="line-number"></span>
                        <span class="pso-number border-radius-50 d-block">1</span>
                        <span class="line-number2 d-block"></span>
                    </div>
                    <div class="col-sm-4">
                        <span class="line-number"></span>
                        <span class="pso-number border-radius-50 d-block">2</span>
                        <span class="line-number2"></span>
                    </div>
                    <div class="col-md-3 col-sm-4 d-block">
                        <span class="line-number"></span>
                        <span class="pso-number border-radius-50 d-block">3</span>
                        <span class="line-number2 d-block"></span>
                    </div>
                </div>
                <div class="pso-content-bottom row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4 step-select-option">
                        <span class="pso-icon border-radius-50 d-block"></span>
                        <h3>Đa dạng thiết kế</h3>
                        <p class="pso-text">
                            Khách hàng chọn và xem trước các mẫu thiết kế đa dạng và phù hợp
                        </p>
                    </div>
                    <div class="col-sm-4 step-upload-design">
                        <span class="pso-icon border-radius-50 d-block">
                            <i class="fa fa-file-text-o"></i>
                            <i class="fa fa-arrow-circle-o-up"></i>
                        </span>
                        <h3>Đội ngủ chuyên nghiệp</h3>
                        <p class="pso-text">
                            Nhân sự có chuyên môn cao, thiết kế nhanh chóng và hợp lý
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-4 step-checkout">
                        <span class="pso-icon border-radius-50 d-block">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                        <h3>Thi công nhanh</h3>
                        <p class="pso-text">
                            Thi công nhanh đúng tiến độ kỷ thuật
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pso-footer">
                    <i class="fa fa-angle-double-down border-radius-50"></i>
                </div>
            </div>
        </div>
    </section>
    <!--Home Trust : End-->
    <!--Home Promotions Products : Begin -->
    <section class="home-promotion-product home-product parten-bg home-out-recent" style="margin-top:100px; margin-bottom:100px">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">DỊCH VỤ CHÍNH CỦA CHÚNG TÔI</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <ul class="slider-w slider-owl">
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/1.jpg" alt="Grouper Business card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Thi công mặt dựng Alu</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/2.jpg" alt="New Brochures">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add-to-cart" class="add-to-cart gbtn">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Bảng hiệu Alu chữ nổi</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/3.jpg" alt="Flyers Two Page">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Bảng hiệu mica</a>
                            <div class="price-box">
                                <span class="special-price">Liên hệ</span>
                                <span class="old-price">$ 00.00</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/4.jpg" alt="Business Card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Bảng hiệu Hiflex - Hộp đèn Hiflex</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/eSliproser-postcard.jpg" alt="eSliproser Postcards">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Bảng hiệu tole dán decal</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard-2.jpg" alt="Holiday Postcard 2">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Bảng hiệu Led</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/postcard-mailing-services.jpg" alt="Postcard Mailing Services">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Bảng Led ma trận</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard.jpg" alt="Holiday Postcard">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Bảng inox ăn mòn acid</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/new-business-card.jpg" alt="New Business Card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Chữ nổi Inox - Đồng</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard-3.jpg" alt="Holiday Postcard 3">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Chữ nổi Mica, Alu, Formex - Chữ nổi Led</a>
                            <div class="price-box">
                                <span class="normal-price">Liên hệ</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!--Home Promotions Products : End -->
    <!--Home Testimonials : Begin -->
    <section class="home-testimonial">
        <div class="container">
            <div class="row">
                <div class="tes-block" id="testimonial">
                    <div class="slider-inner">
                        <div class="wrap-item">
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="images/testimonials/1.png" alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The ideas are also really fresh and new - great work. I cant wait to start work with it!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="images/testimonials/2.png" alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The ideas are also really fresh and new - great work. I cant wait to start work with it!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="images/testimonials/3.png" alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The ideas are also really fresh and new - great work. I cant wait to start work with it!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Home ours service : Begin -->
    <section class="or-service" style="padding-top: 100px; padding-bottom: 100px">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">HOẠT ĐỘNG MỚI NHẤT CỦA CHÚNG TÔI</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="sub-title">Một số thông tin về hoạt động</span>
                </div>
                <div class="or-service-w">
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/1.jpg" alt="service-01" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">Treo băng ron</a>
                        </div>
                        <div class="or-text">
                            <p>
                                Trên mọi nẻo đường
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Liên hệ</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/2.jpg" alt="service-02" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">Hoạt động 2</a>
                        </div>
                        <div class="or-text">
                            <p>
                                Một sự kiện Toyota - Thập Nhất Phong - Vĩnh Long
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Liên hệ</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/3.jpg" alt="service-03" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">Hoạt động 3</a>
                        </div>
                        <div class="or-text">
                            <p>
                                Trung tâm Sách Thiết Bị Vĩnh Long
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Liên hệ</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/4.jpg" alt="service-04" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">Hoạt động 4</a>
                        </div>
                        <div class="or-text">
                            <p>
                                Thay bảng hiệu mới cho trường
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Home Promotions Products : Begin -->
    <section class="home-blog">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">Tin tức</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <div class="blog-content-w" id="blog-content-w">
                    <div class="slider">
                        <div class="slider-inner">
                            <div class="wrap-item">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
                                    <div class="inner">
                                        <a class="image" href="#">
                                            <img src="images/blog/1.jpg" alt="blog-01" />
                                        </a>
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Liên minh hợp tác xã Vĩnh Long</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Hân hạnh thi công chương trình Liên minh hợp tác xã Vĩnh Long
                                                    Hợp tác
                                                    Đổi Mới
                                                    Phát triển
                                                    Hiệu quả
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item item-even">
                                    <div class="inner">
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Giao hàng tiết kiệm thay đổi bảng hiệu</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Giao hàng tiết kiệm
                                                    Thay đổi diện mạo mới
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                        <a class="image" href="#">
                                            <img src="images/blog/2.jpg" alt="blog-01" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
                                    <div class="inner">
                                        <a class="image" href="#">
                                            <img src="images/blog/3.jpg" alt="blog-01" />
                                        </a>
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Lễ khánh thành Trung tâm sách thiết bị</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Trung tâm sách thiết bị - giáo dục Vĩnh Long đã khánh thành
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item item-even">
                                    <div class="inner">
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Nghỉ lễ 2/9</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Cty Quảng cáo Vĩnh An trân trọng thông báo:
                                                    - Ngày 2/9, Cty hoạt động bình thường
                                                    - Thứ 7, ngày 5/9, công ty nghĩ bù
                                                    Chúc quý khách hàng có kỳ nghĩ vui vẻ
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                        <a class="image" href="#">
                                            <img src="images/blog/4.jpg" alt="blog-01" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-item">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
                                    <div class="inner">
                                        <a class="image" href="#">
                                            <img src="images/blog/1.jpg" alt="blog-01" />
                                        </a>
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Liên minh hợp tác xã Vĩnh Long</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Hân hạnh thi công chương trình Liên minh hợp tác xã Vĩnh Long
                                                    Hợp tác
                                                    Đổi Mới
                                                    Phát triển
                                                    Hiệu quả
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item item-even">
                                    <div class="inner">
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Giao hàng tiết kiệm thay đổi bảng hiệu</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Giao hàng tiết kiệm
                                                    Thay đổi diện mạo mới
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                        <a class="image" href="#">
                                            <img src="images/blog/2.jpg" alt="blog-01" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
                                    <div class="inner">
                                        <a class="image" href="#">
                                            <img src="images/blog/3.jpg" alt="blog-01" />
                                        </a>
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Lễ khánh thành Trung tâm sách thiết bị</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Trung tâm sách thiết bị - giáo dục Vĩnh Long đã khánh thành
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item item-even">
                                    <div class="inner">
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Nghỉ lễ 2/9</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Cty Quảng cáo Vĩnh An trân trọng thông báo:
                                                    - Ngày 2/9, Cty hoạt động bình thường
                                                    - Thứ 7, ngày 5/9, công ty nghĩ bù
                                                    Chúc quý khách hàng có kỳ nghĩ vui vẻ
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                        <a class="image" href="#">
                                            <img src="images/blog/4.jpg" alt="blog-01" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-item">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
                                    <div class="inner">
                                        <a class="image" href="#">
                                            <img src="images/blog/1.jpg" alt="blog-01" />
                                        </a>
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Liên minh hợp tác xã Vĩnh Long</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Hân hạnh thi công chương trình Liên minh hợp tác xã Vĩnh Long
                                                    Hợp tác
                                                    Đổi Mới
                                                    Phát triển
                                                    Hiệu quả
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item item-even">
                                    <div class="inner">
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Giao hàng tiết kiệm thay đổi bảng hiệu</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Giao hàng tiết kiệm
                                                    Thay đổi diện mạo mới
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                        <a class="image" href="#">
                                            <img src="images/blog/2.jpg" alt="blog-01" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
                                    <div class="inner">
                                        <a class="image" href="#">
                                            <img src="images/blog/3.jpg" alt="blog-01" />
                                        </a>
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Lễ khánh thành Trung tâm sách thiết bị</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Trung tâm sách thiết bị - giáo dục Vĩnh Long đã khánh thành
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item item-even">
                                    <div class="inner">
                                        <div class="info">
                                            <div class="title">
                                                <a href="#">Nghỉ lễ 2/9</a>
                                            </div>
                                            <div class="sub-title">
                                                <p>
                                                    Cty Quảng cáo Vĩnh An trân trọng thông báo:
                                                    - Ngày 2/9, Cty hoạt động bình thường
                                                    - Thứ 7, ngày 5/9, công ty nghĩ bù
                                                    Chúc quý khách hàng có kỳ nghĩ vui vẻ
                                                </p>
                                            </div>
                                            <a href="#" class="read-more">Read more</a>
                                        </div>
                                        <a class="image" href="#">
                                            <img src="images/blog/4.jpg" alt="blog-01" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Home Testimonials : Begin -->

</main>
<!--Footer : Begin-->
