@{
    ViewData["Title"] = "Home Page";
}

<!--Main index : Begin-->
<main class="main index">
    <!--Home slider : Begin-->
    <section class="home-slidershow">
        <div class="slide-show">
            <div class="vt-slideshow">
                <ul>
                    <li class="slide1" data-transition="random">
                        <img src="images/slider/home/bg_slider_1.jpg" alt="" />
                        <div class="tp-caption lfr" data-x="right" data-hoffset="-56" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Flyers</span> & Leaflets</span></div>
                        <div class="tp-caption lfb" data-x="right" data-hoffset="-15" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br>
                                This is because they're perfect for potential prospects<br>
                                to carry around and are extremely cost effective. We<br>
                                currently have an offer of 1000 flyers and leaflets<br>
                                for only &pound; 24!
                            </span>
                        </div>
                        <div class="tp-caption lfr" data-x="right" data-hoffset="-315" data-y="375" data-start="1300" data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn" href="#">buy now</a></div>
                    </li>
                    <li class="slide2" data-transition="random">
                        <img src="images/slider/home/bg_slider_2.jpg" alt="" />
                        <div class="tp-caption lfr" data-x="left" data-hoffset="" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Flyers</span> & Leaflets</span></div>
                        <div class="tp-caption lfb" data-x="left" data-hoffset="" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br>
                                This is because they're perfect for potential prospects<br>
                                to carry around and are extremely cost effective. We<br>
                                currently have an offer of 1000 flyers and leaflets<br>
                                for only &pound; 24!
                            </span>
                        </div>
                        <div class="tp-caption lfr" data-x="left" data-y="367" data-start="1300" data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn" href="#">buy now</a></div>
                    </li>
                    <li class="slide3" data-transition="random">
                        <img src="images/slider/home/bg_slider_3.jpg" alt="" />
                        <div class="tp-caption lft" data-x="left" data-hoffset="" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Flyers</span> & Leaflets</span></div>
                        <div class="tp-caption lfb" data-x="left" data-hoffset="" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br>
                                This is because they're perfect for potential prospects<br>
                                to carry around and are extremely cost effective. We<br>
                                currently have an offer of 1000 flyers and leaflets<br>
                                for only &pound; 24!
                            </span>
                        </div>
                        <div class="tp-caption lfl" data-x="left" data-hoffset="" data-y="365" data-start="1300" data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn" href="#">buy now</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--Home Category : Begin-->
    <section id="aboutus" class="pr-main">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="images/abouts/about01.jpg">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="top">
                    <h2><span>Welcome at our Agency</span></h2>
                    <p>Here at printshop we like to describe ourselves as an easy-to-use online print destination that puts the power back in your hands. You can mix ‘n’ match your size, papers and finishes to suit your designs — because print shouldn’t be one size fits all.</p>
                </div>
                <div class="bottom">
                    <h2><span>Our specialization</span></h2>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>CSS</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span>Javascript</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span>PHP</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                        <span>HTML</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Home Trust : Begin-->
    <section class="product-step-order hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pso-header">                    
                    <h3>TẠI SAO LỰA CHỌN CHÚNG TÔI?</h3>
                    <p>Choose the design path that is right before upload file</p>
                </div>
            </div>
            <div class="pso-content">
                <div class="pso-content-top row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4">
                        <span class="line-number"></span>
                        <span class="pso-number border-radius-50 d-block">1</span>
                        <span class="line-number2 d-block"></span>
                    </div>
                    <div class="col-sm-4">
                        <span class="line-number"></span>
                        <span class="pso-number border-radius-50 d-block">2</span>
                        <span class="line-number2"></span>
                    </div>
                    <div class="col-md-3 col-sm-4 d-block">
                        <span class="line-number"></span>
                        <span class="pso-number border-radius-50 d-block">3</span>
                        <span class="line-number2 d-block"></span>
                    </div>
                </div>
                <div class="pso-content-bottom row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4 step-select-option">
                        <span class="pso-icon border-radius-50 d-block"></span>
                        <h3>Select Option</h3>
                        <p class="pso-text">
                            Choose options that you want for your prints.We will make you happy with your choices.
                        </p>
                    </div>
                    <div class="col-sm-4 step-upload-design">
                        <span class="pso-icon border-radius-50 d-block">
                            <i class="fa fa-file-text-o"></i>
                            <i class="fa fa-arrow-circle-o-up"></i>
                        </span>
                        <h3>Upload your design</h3>
                        <p class="pso-text">
                            Upload your finished design here and we’ll print it for youwith your choices.
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-4 step-checkout">
                        <span class="pso-icon border-radius-50 d-block">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                        <h3>Checkout & Order</h3>
                        <p class="pso-text">
                            Checkout and finish your order very easy with one step checkout extension.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pso-footer">
                    <i class="fa fa-angle-double-down border-radius-50"></i>
                </div>
            </div>
        </div>
    </section>
    <!--Home Trust : End-->
    <!--Home Promotions Products : Begin -->
    <section class="home-promotion-product home-product parten-bg home-out-recent" style="margin-top:100px; margin-bottom:100px">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">DỊCH VỤ CHÍNH CỦA CHÚNG TÔI</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <ul class="slider-w slider-owl">
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/1.jpg" alt="Grouper Business card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Grouper Business card</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.00</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/2.jpg" alt="New Brochures">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add-to-cart" class="add-to-cart gbtn">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">New Brochures</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.80</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/3.jpg" alt="Flyers Two Page">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Flyers Two Page</a>
                            <div class="price-box">
                                <span class="special-price">$ 12.98</span>
                                <span class="old-price">$ 16.98</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/4.jpg" alt="Business Card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Business Card</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.80</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/eSliproser-postcard.jpg" alt="eSliproser Postcards">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">eSliproser Postcards</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard-2.jpg" alt="Holiday Postcard 2">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Holiday Postcard 2</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/postcard-mailing-services.jpg" alt="Postcard Mailing Services">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Postcard Mailing Services</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard.jpg" alt="Holiday Postcard">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Holiday Postcard</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/new-business-card.jpg" alt="New Business Card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">New Business Card</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.80</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard-3.jpg" alt="Holiday Postcard 3">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Holiday Postcard 3</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!--Home Promotions Products : End -->
    <!--Home Testimonials : Begin -->
    <section class="home-testimonial">
        <div class="container">
            <div class="row">
                <div class="tes-block" id="testimonial">
                    <div class="slider-inner">
                        <div class="wrap-item">
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="images/testimonials/1.png" alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The ideas are also really fresh and new - great work. I cant wait to start work with it!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="images/testimonials/2.png" alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The ideas are also really fresh and new - great work. I cant wait to start work with it!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="images/testimonials/3.png" alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The ideas are also really fresh and new - great work. I cant wait to start work with it!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Home ours service : Begin -->
    <section class="or-service" style="padding-top: 100px; padding-bottom: 100px">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">HOẠT ĐỘNG MỚI NHẤT CỦA CHÚNG TÔI</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="sub-title">Choose the design path that is right before upload file</span>
                </div>
                <div class="or-service-w">
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/1.png" alt="service-01" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">graphic Design</a>
                        </div>
                        <div class="or-text">
                            <p>
                                let us design your next print project!
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Order now</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/2.png" alt="service-02" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">Mailing</a>
                        </div>
                        <div class="or-text">
                            <p>
                                Delivery, we can hand it all for you!
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Order now</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/3.png" alt="service-03" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">custom prints</a>
                        </div>
                        <div class="or-text">
                            <p>
                                we'll bring all your creative ideas to life!
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Order now</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="images/our_service/4.png" alt="service-04" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#">free file check</a>
                        </div>
                        <div class="or-text">
                            <p>
                                we'll if your file is ready to print!
                            </p>
                        </div>
                        <a href="#" class="btn-readmore order-now">Order now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Home Promotions Products : Begin -->
    <section class="home-promotion-product home-product parten-bg product-step-order" style="padding-top: 100px; padding-bottom: 100px">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">TIN TỨC MỚI</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <ul class="slider-w slider-owl">
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/1.jpg" alt="Grouper Business card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Grouper Business card</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.00</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/2.jpg" alt="New Brochures">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add-to-cart" class="add-to-cart gbtn">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">New Brochures</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.80</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/3.jpg" alt="Flyers Two Page">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Flyers Two Page</a>
                            <div class="price-box">
                                <span class="special-price">$ 12.98</span>
                                <span class="old-price">$ 16.98</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/4.jpg" alt="Business Card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Business Card</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.80</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/eSliproser-postcard.jpg" alt="eSliproser Postcards">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">eSliproser Postcards</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard-2.jpg" alt="Holiday Postcard 2">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Holiday Postcard 2</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/postcard-mailing-services.jpg" alt="Postcard Mailing Services">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Postcard Mailing Services</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard.jpg" alt="Holiday Postcard">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Holiday Postcard</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/new-business-card.jpg" alt="New Business Card">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">New Business Card</a>
                            <div class="price-box">
                                <span class="normal-price">$ 9.80</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="images/product/263x263/holiday-postcard-3.jpg" alt="Holiday Postcard 3">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Holiday Postcard 3</a>
                            <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!--Home Promotions Products : End -->
    <!--Home Testimonials : Begin -->

</main>
<!--Footer : Begin-->
